/* HEADER */
header{
    background-color: #7fa6ff;
    height: 60px;
    background-image: url(../img/pattern.png);
    background-size: 15%;
}

#header-logo{
    width: 10%;
    height: 100%;
}
/* /HEADER */

/* TITLE */
#booleaner{
    color: lightskyblue;
}
/* /TITLE */

/* MAIN*/
.highlighted-text{
    background-color: yellow;
}

.todolist{
    padding-left: 1%;
}

/* TABLE */
table{
    width: 100%;
    border-collapse: collapse;
}

th{
    text-align: left;
    color: white;
    background-color: #217ad3;
}

.bluerow{
    background-color: rgb(84, 189, 224);
}

#column1{
    width: 24%;
}

#column2{
    width: 24%;
}

#column3{
    width: 48%;
}