/* HEADER */
header{
    background-color: #7fa6ff;
    height: 60px;
    background-image: url(../img/pattern.png);
    background-size: 15%;
}

#header-logo{
    width: 10%;
    height: 100%;
}
/* /HEADER */

/* TITLE */
#booleaner{
    color: lightskyblue;
}
/* /TITLE */

/* MAIN*/
.highlighted-text{
    background-color: yellow;
}

.todolist{
    padding-left: 1%;
}
